In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv("covid.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [24]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
df['fever'] = si.fit_transform(df[['fever']])
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [27]:
df.sample(5)

    age  gender       fever  cough  city  has_covid
41   82       1  100.844444      0     2          1
69   73       0  103.000000      0     1          0
47   18       0  104.000000      0     0          0
92   82       0  102.000000      1     2          0
43   22       0   99.000000      0     0          1

In [28]:
x = df.drop(columns= ['has_covid'])
y = df['has_covid']

In [29]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y ,test_size=0.2 , random_state=42)

In [30]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)

0.75

In [32]:
from joblib import dump
dump(model, 'model.joblib')

['model.joblib']